################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug
/obj
bin/Release/net8.0/SDL2_image.dll
bin/Release/net8.0/SDL2_mixer.dll
bin/Release/net8.0/SDL2_ttf.dll
bin/Release/net8.0/SDL2.dll
bin/Release/net8.0/TestGame.deps.json
bin/Release/net8.0/TestGame.dll
bin/Release/net8.0/TestGame.dll.config
bin/Release/net8.0/TestGame.pdb
bin/Release/net8.0/publish/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Release/net8.0/publish/Microsoft.Extensions.Configuration.Binder.dll
bin/Release/net8.0/publish/Microsoft.Extensions.Configuration.dll
bin/Release/net8.0/publish/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Release/net8.0/publish/Microsoft.Extensions.DependencyInjection.dll
bin/Release/net8.0/publish/Microsoft.Extensions.Diagnostics.Abstractions.dll
bin/Release/net8.0/publish/Microsoft.Extensions.Diagnostics.dll
bin/Release/net8.0/publish/Microsoft.Extensions.Http.dll
bin/Release/net8.0/publish/Microsoft.Extensions.Logging.Abstractions.dll
bin/Release/net8.0/publish/Microsoft.Extensions.Logging.Configuration.dll
bin/Release/net8.0/publish/Microsoft.Extensions.Logging.dll
bin/Release/net8.0/publish/Microsoft.Extensions.Options.ConfigurationExtensions.dll
bin/Release/net8.0/publish/Microsoft.Extensions.Options.dll
bin/Release/net8.0/publish/Microsoft.Extensions.Primitives.dll
bin/Release/net8.0/publish/Newtonsoft.Json.dll
bin/Release/net8.0/publish/NLog.dll
bin/Release/net8.0/publish/SDL2_image.dll
bin/Release/net8.0/publish/SDL2_mixer.dll
bin/Release/net8.0/publish/SDL2_ttf.dll
bin/Release/net8.0/publish/SDL2.dll
bin/Release/net8.0/publish/Sentry.dll
bin/Release/net8.0/publish/Sentry.Extensions.Logging.dll
bin/Release/net8.0/publish/TestGame.deps.json
bin/Release/net8.0/publish/TestGame.dll
bin/Release/net8.0/publish/TestGame.dll.config
bin/Release/net8.0/publish/TestGame.pdb
bin/Release/net8.0/publish/TiledCS.dll
Maps/
TestGame.sln
