################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
Maps/
TestGame.sln
/bin/Debug-Windows/net8.0/TestGame.dll
/bin/Debug-Windows/net8.0/TestGame.pdb
/TestGame.sln
